<% include ../partials/header %>

<div class="container" id="header">
	<div class="row">
		<div style="width: 30%; margin: 0 auto;">
			<h1 style="text-align: center;">Add a New Comment</h1>
			<br/>
			<form action="/trails/<%= trail._id %>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" placeholder="text">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary">Submit!</button>
				</div>
			</form>
			<br/>
			<a href="/trails">Go Back</a>
		</div>
	</div>
</div>

<% include ../partials/footer %>
