<% include ./partials/header %>

<h1 id="login"> Sign Up! </h1>

<form action="/register" method="post" id="header">
  <label>Username:</label>
  <br/>
  <input type="text" name="username" placeholder="username">
  <br/><br/>
  <label>Password:</label>
  <br/>
  <input type="text" name="password" placeholder="password">
  <br/><br/>
  <button class="btn">Login</button>
</form>

<% include ./partials/footer %>
